@font-face {
  font-family: regular;
  src: local("bentonsansregular"), url("/fonts/bentonsansregular.otf");
}
@font-face {
  font-family: black;
  src: local("bentonsansblack"), url("/fonts/bentonsansblack.otf");
}
@font-face {
  font-family: book;
  src: local("bentonsansbook"), url("/fonts/bentonsansbook.otf");
}
@font-face {
  font-family: medium;
  src: local("bentonsansmedium"), url("/fonts/bentonsansmedium.otf");
}
@font-face {
  font-family: bold;
  src: local("bentonsansbold"), url("/fonts/bentonsansbold.otf");
}
